<nav class="navbar navbar-default navbar-fixed-top" ng-controller="headerCtrl as header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="header.collapseToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
                 Fleet Managment 
            </a>
        </div>

        <div ng-class="header.collapse" class="collapse navbar-collapse">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                </button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#"><i class="fa fa-question-circle"></i> Help</a>
                </li>
                <li class="dropdown" dropdown>
                        <a href class="dropdown-toggle" dropdown-toggle>
        			Dropdown <span class="caret">
      			</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href>Item1</a>
                            </li>
                            <li>
                                <a href>Item2</a>
                            </li>
                        </ul>
                </li>
            </ul>
        </div>
</nav>
