<!doctype html>
<html class="no-js" ng-app="fm">

<head>
    <meta charset="utf-8">
    <title>Fleet Managment</title>
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <link rel="stylesheet" href="app/vendor.css">
    <!-- bower:css -->
    <!-- run `gulp wiredep` to automaticaly populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automaticaly insert here -->
    <!-- endinject -->
    <!-- endbuild -->
</head>

<body layout="row" ng-controller="baseController">

    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" style="height:500px;">
        <div ng-include="'components/sidebar/sidebar.html'"></div>
    </md-sidenav>
    <!-- <div ng-include="'components/header/header.html'"></div> -->


    <div layout="column" flex>
        <md-toolbar class="md-whiteframe-glow-z2 md-default-theme">
		<md-button show-sm>
			<i class="fa fa-bars"></i>
		</md-button>
            <h1 class="md-toolbar-tools">
		    <a ng-href="#/">{{title}}</a>
    	    </h1>
        </md-toolbar>
	<div ui-view></div>
    </div>
	
    <script src="../bower_components/ace-builds/src-noconflict/ace.js"></script>
    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp wiredep` to automaticaly populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automaticaly insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

</body>

</html>
